{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "sinon": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "jsx-quotes": 0,
    "no-console": 0,
    "no-script-url": 0,
    "no-unused-expressions": 0,
    "padded-blocks": 0,
    "react/jsx-boolean-value": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "mocha/no-exclusive-tests": 2
  }
}
