{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "sinon": true
  },
  "rules": {
    "no-script-url": 0,
    "no-unused-expressions": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0
  }
}
