{
  "presets": [
    "react",
    //"es2015-loose",
    "es2015",
    "stage-1"
  ],

  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "dev-expression",
    "transform-es3-modules-literals"
  ]
}
