{
  "presets": ["es2015-loose", "react", "stage-1"],
  "plugins": [
    "dev-expression",
    "transform-runtime",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "add-module-exports"
  ],
  "env": {
    "ci": {
      "plugins": [ "istanbul" ]
    }
  }
}
