{
  "extends": [
    "@react-bootstrap",
    "4catalyzer-typescript",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/extensions": "off",
    "prettier/prettier": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": [
      "error",
      {
        "ignore": [
          "x-placement"
        ]
      }
    ],
    "react/function-component-definition": "off"
  },
  "overrides": [
    {
      "files": [
        "test/**/*"
      ],
      "rules": {
        "@typescript-eslint/no-unused-expressions": "off"
      }
    },
    {
      "files": [
        "www/**/*"
      ],
      "rules": {
        "no-console": "off",
        "react/prop-types": "off",
        "react/no-unescaped-entities": "off",
        "no-alert": "off",
        "no-restricted-syntax": "off",
        "no-undef": "off",
        "jsx-a11y/label-has-associated-control": "off"
      }
    },
    {
      "files": [
        "www/docs/examples/**/*"
      ],
      "rules": {
        "import/no-unresolved": "off"
      }
    }
  ]
}