{
  "rules": {
    "no-alert": 0
  },
  "globals": {
    "classNames": false,
    "React": false,
    "ReactDOM": false,

    "Accordion": false,
    "Alert": false,
    "Badge": false,
    "Breadcrumb": false,
    "Button": false,
    "ButtonGroup": false,
    "ButtonToolbar": false,
    "Carousel": false,
    "Checkbox": false,
    "Clearfix": false,
    "Col": false,
    "Collapse": false,
    "ControlLabel": false,
    "Dropdown": false,
    "DropdownButton": false,
    "Fade": false,
    "Form": false,
    "FormControl": false,
    "FormGroup": false,
    "Glyphicon": false,
    "Grid": false,
    "HelpBlock": false,
    "Image": false,
    "InputGroup": false,
    "Jumbotron": false,
    "Label": false,
    "ListGroup": false,
    "ListGroupItem": false,
    "Media": false,
    "MenuItem": false,
    "Modal": false,
    "Nav": false,
    "Navbar": false,
    "NavDropdown": false,
    "NavItem": false,
    "Overlay": false,
    "OverlayTrigger": false,
    "PageHeader": false,
    "Pager": false,
    "Pagination": false,
    "Panel": false,
    "PanelGroup": false,
    "Popover": false,
    "ProgressBar": false,
    "Radio": false,
    "ResponsiveEmbed": false,
    "Row": false,
    "SplitButton": false,
    "Tab": false,
    "TabContainer": false,
    "TabContent": false,
    "Table": false,
    "TabPane": false,
    "Tabs": false,
    "Thumbnail": false,
    "Tooltip": false,
    "Well": false,

    "bootstrapUtils": false,

    "mountNode": false
  }
}
