{
  "rules": {
    "no-alert": 0,
    "react/react-in-jsx-scope": 0
  },
  "globals": {
    "mountNode",
    "React",
    "classNames",
    "Accordion",
    "Alert",
    "Badge",
    "Button",
    "ButtonGroup",
    "ButtonInput",
    "ButtonToolbar",
    "CollapsibleNav",
    "CollapsibleMixin",
    "Carousel",
    "CarouselItem",
    "Col",
    "DropdownButton",
    "FormControls",
    "Glyphicon",
    "Grid",
    "Input",
    "Jumbotron",
    "Label",
    "ListGroup",
    "ListGroupItem",
    "Nav",
    "Navbar",
    "NavItem",
    "MenuItem",
    "Modal",
    "ModalTrigger",
    "OverlayTrigger",
    "OverlayMixin",
    "Overlay",
    "PageHeader",
    "PageItem",
    "Pager",
    "Pagination",
    "Panel",
    "PanelGroup",
    "Popover",
    "ProgressBar",
    "Row",
    "SplitButton",
    "TabbedArea",
    "Table",
    "TabPane",
    "Tooltip",
    "Well",
    "Thumbnail",
    "Collapse",
    "Fade"
  }
}
