import React from 'react';
import <%= name %> from '../<%= name %>';

console.warn('Support for factories will be removed in v0.25, for details see https://github.com/react-bootstrap/react-bootstrap/issues/825');

export default React.createFactory(<%= name %>);
