@media only screen and (min-width: 700px) {
  .breakpoint-min-width-700 {
    display: block;
  }
  .breakpoint-max-width-700 {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .breakpoint-min-width-700 {
    display: none;
  }
  .breakpoint-max-width-700 {
    display: block;
  }
}
