{
  "rules": {
    "no-alert": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "react/jsx-no-undef": "off",
    "react/no-multi-comp": "off"
  },
  "globals": {
    "useState": false,
    "useEffect": false,
    "useRef": false,
    "useContext":false,
    "render": false,
    "classNames": false,
    "React": false,
    "ReactDOM": false,
    "Alert": false,
    "Badge": false,
    "Breadcrumb": false,
    "Button": false,
    "ButtonGroup": false,
    "ButtonToolbar": false,
    "Card": false,
    "Carousel": false,
    "Checkbox": false,
    "Clearfix": false,
    "Col": false,
    "Collapse": false,
    "FormLabel": false,
    "Dropdown": false,
    "DropdownButton": false,
    "Fade": false,
    "Form": false,
    "FormControl": false,
    "FormGroup": false,
    "Container": false,
    "Image": false,
    "Figure": false,
    "InputGroup": false,
    "ListGroup": false,
    "ListGroupItem": false,
    "DropdownItem": false,
    "Modal": false,
    "Nav": false,
    "Navbar": false,
    "NavDropdown": false,
    "NavItem": false,
    "NavLink": false,
    "Overlay": false,
    "OverlayTrigger": false,
    "PageHeader": false,
    "Pager": false,
    "Pagination": false,
    "Popover": false,
    "ProgressBar": false,
    "Radio": false,
    "Ratio": false,
    "Row": false,
    "SplitButton": false,
    "Tab": false,
    "TabContainer": false,
    "TabContent": false,
    "Table": false,
    "TabPane": false,
    "Tabs": false,
    "Tooltip": false,

    "ThemeProvider": false,

    "useAccordionButton": false,
    "AccordionContext": false,

    "mountNode": false,
    "yup": false,
    "formik": false,
    "PlaceholderImage": false
  }
}
