.anchor + small {
  display: block;
}

.badge + .badge,
.btn-toolbar > .btn + .btn {
  margin-left: 0.5em;
}

.grid-examples .row > .col,
.grid-examples .row > [class^='col-'] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.grid-examples .row + .row {
  margin-top: 1rem;
}
