.anchor + small {
  display: block;
}

.bs-example-popover-contained {
  height: 200px;
}

.bs-example-popover-contained > div {
  position: relative;
}

.bs-example-popover-scroll {
  overflow: scroll;
  height: 200px;
}

.bs-example-popover-scroll > div {
  position: relative;
}

.bs-example.tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  margin: 5px 10px;
}
