.CodeMirror {
	height: auto;
}

.bs-example .btn-toolbar + .btn-toolbar {
    margin-top: 10px;
}

.bs-example .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}