.CodeMirror {
    height: auto;
}

.bs-example .btn-toolbar + .btn-toolbar {
    margin-top: 10px;
}

.bs-example .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
}

.bs-docs-booticon {
    background: url('./logo.png') 0 0 no-repeat;
    background-size: contain;
}