name: Node CI
on: [push]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        browser: [ChromeHeadless, FirefoxHeadless]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - name: Checking out Repository
      uses: actions/checkout@v1
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install Chrome (macOS)
      if: matrix.os == 'macOS-latest' && matrix.browser == 'ChromeHeadless'
      run: brew cask install google-chrome
    - name: Install Firefox (macOS)
      if: matrix.os == 'macOS-latest' && matrix.browser == 'FirefoxHeadless'
      run: brew cask install firefox
    - name: Install Dependencies
      run: yarn bootstrap
    - name: Run Tests
      run: yarn test
      env:
        BROWSER: ${{ matrix.browser }}
    - name: Upload Test Coverage to codecov
      run: yarn run codecov
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    - name: Build Project
      run: yarn build
